@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
:root{
    --primary-color: #0e2238;
    --third-color:#13336356;

}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
}



#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
    padding: 10px 0;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}
.main-header-container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color: #13336356;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}
.title{
    color: white;
}

.add-trip-btn{
    background: none;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    border: none;
    background-color: #13336356;

    transition: 0.3s;
    color: white;
}
.add-trip-btn:hover{
    background-color: #0e2238;
}
.main-body-container{
    height: 92vh ;
    width: 100%;
    padding: 20px 0;

    
}
.trip-analytics-container{
    height: 25vh ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
}
.trip-analytic{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:  10px;
    width: 20%;
    height: 90%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    padding: 10px;
}
.trip-analytic p{
    display: flex;
    justify-content: right;
    align-items: last baseline;
    font-size:4rem;
    letter-spacing: 2px;
    color: #686D76;

}
.trip-analytic h3{
    font-family: "Reddit Sans", sans-serif;

}

.underline-container{
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.underline{
    height: 2px;
    width: 80%;
    background-color: #686D76;
}

.total{
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}